/* -- Header --*/

.header > .logo{
    background-color: #222222;
}
.header > .logo a {
    color: #FFFFFF;
}

.header > .basket{
    float:right;
    width:60px;
    height: 60px;
    padding-right: 30px;
    line-height: 60px;
    text-align: center;
    background: url(../img/basket-black.png) no-repeat center center scroll;
}

.header > .menu-toggle{
    background-color: #8d8d8d;
}



/* -- Contact Form --*/
.contact-form{
    margin-top: 50px;
    text-align: center;
    line-height: 40px;
}

.input-content{
    margin: 35px 0 25px 0;
}
.input-fields{
    margin-bottom: 25px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 0;
}

.input-message{
    padding-top: 5px;
    height: 260px;
    
}

.btn-send {
    width: 100%;
    margin-top: 35px;
}



