@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: "lato", "Georgia", "Helvetica Neue", "Source Sans Pro";
}
/*
p{
font-family: "Georgia", "Helvetica Neue", "Source Sans Pro";
}*/
/*-- Header -- */
.header{
    font-size: 20px;
    padding: 20px;

}

.header::after {
    display: block;
    content: '';
    clear: both;
    padding:10px 20px;
    border-bottom: 1px solid #c2c2c2;
}


.header > .logo{
    float:left;
    width:60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #222222;
}
.header > .logo a {
    text-decoration: none;
    color: #FFFFFF;
}

.header > .basket{
    float:right;
    width:60px;
    height: 60px;
    padding-right: 30px;
    line-height: 60px;
    text-align: center;
    background: url(../img/basket-black.png) no-repeat center center scroll;
}

.header > .menu-toggle{
    float:right;
    width:60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #959595;
    background-color: #8d8d8d;
}

.header > .menu-toggle a {
    text-decoration: none;
    color: #dcdcdc;
}



/* -- Menu inline -- */
.menu-line{
    text-align: center;
}

.menu-line .menu-item {
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
    text-transform: uppercase;
}

.menu-line .menu-item:not(:last-child)::after {
    content: '/';
    margin-left: 5px;
}

.menu-line .menu-item  a{
    text-decoration: none;
    color: #606060;
}

/* -- Main --*/
main::after {
    display: block;
    content: '';
    clear: both;
    margin:80px 20px 50px 20px;
    /* padding:10px 20px;*/
    border-bottom: 1px solid #c2c2c2;

}

.wrapper{
    margin:20px;
    text-align: center;
}
/* -- Footer --*/
.footer-box{
    margin: 20px;
    text-align: center;
}
.footer-box > h1{
    color:#000000;
    font-size: 30pt;
    margin-bottom: 35px;
}

.footer-box > p{
    color:#303030;
    font-size: 20px;
    margin-bottom: 50px;
}
.footer-social-box{
    width: 100%;
    line-height: 32px;
    text-align: center;
}
.footer-social-box > div{
    display:inline-block;
    margin:0 auto;
}
.footer-social{
    float:left;
    width:32px;
    height: 32px;
    border:2px solid #606060;
    margin-right: 15px;
}

.img-twitter{
    background: url(../img/twitter.png) no-repeat center center scroll;
}
.img-facebook{
    background: url(../img/facebook.png) no-repeat center center scroll;
}
.img-instagram{
    background: url(../img/instagram.png) no-repeat center center scroll;
}


/* -- Button --*/
.btn-default{
    border: 0;
    height:60px;
    background-color:#ef8440;
    color: #FFFFFF;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
}

/* -- Pages Titles */
.title-pages{
    color: #303030;
    font-size: 36px;
}
.paragraf-pages{
    color: #606060;
    font-size: 18px;
}

/* -- Creating Pseudoelements for create the arrow in SELECT tag -- */
.dropdown {
    position: relative;
    -webkit-appearance: none; 
    appearance: none;
}
.dropdown:after {
    clear: both;
    content: "";
    position: absolute;
    right: 10px;
    top: 29px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;

}

/* For Chrome and Firefox */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
/*for IE10*/
select::-ms-expand {
    display: none;
}



/* -- Products Content -- */
.product-content::after {
    content: "";
    clear: both;
    display: block;
}
.product-item{
    text-align: center;
    width:45%;
    margin-bottom: 25px;
    float: left;
}

/*.product-item:nth-of-type(odd){
    float:left;
}*/


.product-item:nth-of-type(even){
    /*float:right;*/
    margin-left: 10%;
}

.product-box{
    height: 275px;
    border:1px solid #c2c2c2;
    margin-bottom:15px;
}

.product-title{
    font-size: 18px;
    margin-bottom:10px;
}
.product-price{
    font-size:14px;
}